
{% load static%}

<html lang="pt-BR">
    <head>
        <title>{% block titulo %}{% endblock %}E-commerce</title>
        <!--===== standard settings =====-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
        <!--===== Styles =====-->
        <link rel="stylesheet" href="{% static 'assets/project/style.css'%}">

        <!--===== Fontawesome CDN Link =====-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
        <!--===== Boxicons CSS =====-->
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    </head>
</html>

